.navbar{
  height: 20px;
}
.navbar-brand{
  height: 20px;
}
.centerdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hover_img a { position:relative; }
.hover_img a span { position:absolute; display:none; z-index:99; }
.hover_img a:hover span { display:block; }

#selectFractal1 {
  width: 15vw;
  height: 2vw;
}

.divider1{
  width:20px;
  height:auto;
  display:inline-block;
}

.divider2{
  width:50px;
  height:auto;
  display:inline-block;
} 

#selectIter1 {
  width: 4vw;
  height: 2vw;
}

#selectFractal2 {
  width: 15vw;
  height: 2vw;
}

h1 {
  text-align: center;
}

.buttonDiv {
  display: flex;
  justify-content: center;
}
.buttonDiv2 {
  display: flex;
 
}

button1 {
  width: 8vw;
  height: 2vw;
}

button2 {
  width: 3vw;
  height: 2vw;
}

.filler {
  width: 100%;
  height: 1vw;
}

.filler2 {
  width: 100%;
  height: 0.5vw;
}

body {
  margin-left: auto;
  margin-right: auto;
}

.selectdiv {
  display: table-cell;
  width: 100%;
  justify-content: center;
  display: flex;
}

#container {
  display: flex;
  justify-content: center;
}

.canvasStyle {
  text-align: center;
}

#canvas1 {
  border: 2px solid black;
  border-radius: 5px;
  left: 0;

}

#canvas2 {
  border: 2px solid black;
  border-radius: 5px;
  right: 0;

}



