body {
  background-color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.canvas {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

p,
h1,
h2,
h3,
a,
form {
  font-family: "Verdana", Times, sans-serif;
}

.mybutton {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.mybutton1 {
  background-color: #ffffff;
  color: black;
  border: 2px solid #868e89;
}

.mybutton1:hover {
  background-color: #868e89;
  color: white;
}

.notebar {
  background-color: #868e89; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.iterations {
  background-color: #868e89;
  border: none;
  color: white;
  padding: 16px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px;
}
